<div class="row">
    <div class="col-6">
        <div class="mb-3">
            <mat-form-field class="example-form-field">
                <mat-label>x1</mat-label>
                <input matInput type="text" [(ngModel)]="x1">
              </mat-form-field>
        </div>
        <div class="mb3">
            <mat-form-field class="example-form-field">
                <mat-label>y1</mat-label>
                <input matInput type="text" [(ngModel)]="y1">
              </mat-form-field>
        </div>
        <div class="mb3">
            <mat-form-field class="example-form-field">
                <mat-label>x2</mat-label>
                <input matInput type="text" [(ngModel)]="x2">
              </mat-form-field>
    </div>
    <div class="mb3">
        <mat-form-field class="example-form-field">
            <mat-label>y2</mat-label>
            <input matInput type="text" [(ngModel)]="y2">
          </mat-form-field>
</div>
        <div class="mb-3">
            <button mat-raised-button class="btn btn-primary" (click)="calcular()">Calcular</button>
        </div>
    </div>
    <div class="col-6" *ngIf="res>0">
        <h2>La distancia es de: {{res}}</h2>
    </div>
</div>