<div class="row">
    <div class="col-6">
        <div class="mb-3">
            <label for="" class="form-label">Numero 1</label>
            <input type="text" [(ngModel)]="num1" name="num1" placeholder="Numero 1" class="form-contol">
        </div>
        <div class="mb3">
            <label for="" class="form-label">Numero 2</label>
            <input type="text" [(ngModel)]="num2" name="num2" placeholder="Numero 2" class="form-contol">

        </div>
        <div class="mb-3">
            <button class="btn btn-primary" (click)="sumar()">Sumar</button>
        </div>
    </div>
    <div class="col-6">
        <h2>La suma es: {{res}}</h2>
    </div>
</div>