<app-menu></app-menu>
<div class="container">
  <div class="row">

    <!-- <p>Hola mundo
    <p>

    <div>
      {{title}}
    </div>

    <div>la suma de 2+2 es: {{2+2}}</div>

    <div>El doble de 3 es: {{duplivaValor(3)}}</div>

    <h2>Alumno IDGS904</h2>
    <div>Matricula: {{Alumnos.matricula}}</div>
    <div>Nombre: {{Alumnos.nombre}}</div>
    <div>Fecha de nacimiento: {{Alumnos.fechaNacimiento |date}}</div>
    <div>pago: {{Alumnos.pagoIns | currency}}</div>

    <hr>
    <app-escuela></app-escuela>


    <hr>
    <app-ievn></app-ievn>
     -->
    
    <hr>
    <app-sumar></app-sumar>
    <br>
    <br>
    <app-operas-bas></app-operas-bas>

  </div>
</div>